<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Techevent-consul by Jean-Eudes</title>
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <link rel="stylesheet" href="../stylesheets/github-dark.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../javascripts/script.js"></script>

    <script src="../javascripts/respond.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="../stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>

<body>
<div id="header">
    <nav>
        <li class="fork"><a href="https://github.com/Jean-Eudes/techevent-consul">View On GitHub</a></li>
        <li class="downloads"><a href="https://github.com/Jean-Eudes/techevent-consul/zipball/master">ZIP</a></li>
        <li class="downloads"><a href="https://github.com/Jean-Eudes/techevent-consul/tarball/master">TAR</a></li>
        <li class="title">DOWNLOADS</li>
    </nav>
</div><!-- end header -->

<div class="wrapper">

    <section id="main-content">
        <h2>Workshop : Service discovery &amp; Consul
        </h2>


        <p>Dans ce workshop, vous aurez à disposition 4 instances Amazon servant respectivement à :
        <ul>
            <li>1 instance de consul en mode server</li>
            <li>2 instances contenant 2 service web</li>
            <li>1 instance servant à répartir la charge entre les deux instances de service web</li>
        </ul>

        <p>Template {{page.group}}</p>
    </section>

    <section>
        Consul est un outil de service discovery, permettant à des services de s'enregistrer auprès d'un serveur, et à d'autres services d'interroger ce même serveur pour récupérer des informations sur les services déployés sur notre cluster

        <h2>Introduction</h2>

        Il y a quelques mois, votre entreprise a suivie le dernier buzz word à la mode suite à une université à devoxx france, et à décider de se lancer dans l’aventure des micro services. De très nombreux micro services plus tard, un problème est apparu : comment connaître l’adresse de mes services. Après consultation du pôle architecture de notre société, suivi par de trop nombreuses réunions, il a été décidé de mettre en place une solution de service discovery.

        <h3>Téléchargement de la clef privé</h3>


        <p>Pour vous connecter aux machines, récupérer le fichier <a href="https://raw.github.com/Jean-Eudes/techevent-consul/master/script/consul.pem">graphite.pem</a> ou le fichier <a href="https://raw.github.com/Jean-Eudes/techevent-consul/master/script/consul.ppk">graphite.ppk</a> pour les utilisateurs Windows, dans votre répertoire courant (la clef sera révoquée après le workshop). N'oubliez pas de changer les permissions sur le fichier :</p>

        <h4>Pour Linux ou Mac :</h4>

        {% highlight bash %}
$ chmod 600 graphite.pem
        {% endhighlight %}


        {% highlight bash %}
$ ssh consul@{{page.group}}-server.consul.aws.xebiatechevent.info
        {% endhighlight %}

        <h4>Pour windows :</h4>
        <ul>
            <li>Si vous ne l'avez pas, récupérez <a href="http://the.earth.li/~sgtatham/putty/latest/x86/putty.exe">PuTTY</a></li>
            <li>Entrez l'adresse <em>{{page.group}}-server.consul.aws.xebiatechevent.info</em> à l'emplacement de l'encadré rouge ci-dessous</li>
        </ul>

        <img src="../images/putty_ip.png" alt="putty ip"/>

        <ul>
            <li>Suivez ensuite les screenshots suivants :</li>
        </ul>

        <img src="../images/putty_user.png" alt="putty2"/>
        <img src="../images/putty_key1.png" alt="putty3"/>
        <img src="../images/putty_key2.png" alt="putty4"/>
        <img src="../images/putty_open_connection.png" alt="putty5"/>



        ## Installation de consul (étape déjà faite pour ce techeveny)

        Consul est livré sous la forme d’un simple binaire. Il suffit simplement de le télécharger :

        {% highlight bash %}
$ wget https://dl.bintray.com/mitchellh/consul/0.6.4_linux_amd64.zip
        {% endhighlight %}

    </section>

    <section>
        <h1>Lancement du serveur consul</h1>

        Nous allons maintenant lancer notre serveur consul, en spécifiant que nous ne lançons que une instance (pas de redondance), et qu’il sera accessible depuis l’extérieur.

        Pour celà, connectez vous sur le serveur consul

        {% highlight bash %}
$ ssh -i consul.pem ec2-user@{{page.group}}-server.consul.aws.xebiatechevent.info
        {% endhighlight %}

        et lancer le serveur :
        {% highlight bash %}
$ consul agent -server -bootstrap-expect 1 -data-dir /tmp/consul --client 0.0.0.0 -ui-dir ui -config-dir etc/consul.d  > log &
        {% endhighlight %}

        Il est possible de regarder l’état du serveur avec la commande

        {% highlight bash %}
$ consul members
        {% endhighlight %}

    </section>

    <section>
        <h1>Lancement de l'agent consul</h1>

        On va maintenant ajouter un agent consul et le connecter à notre serveur. Connectez vous à votre machine web1, et lancer l'agent consul

        {% highlight bash %}
$ ssh -i consul.pem ec2-user@{{page.group}}-web1.consul.aws.xebiatechevent.info
        {% endhighlight %}


        {% highlight bash %}
$ mkdir -p etc/consul.d
$ consul agent -data-dir /tmp/consul -node=agent1 -config-dir etc/consul.d > log &
$ consul join <addr_ip_privé_serveur/>
        {% endhighlight %}

        Si vous demandez maintenant à consul de vous affichez l’état du cluster, vous verrez bien apparaître deux lignes, une pour le serveur, et une pour le client.

        Consul propose également une api rest pour connaître l’état du cluster

        {% highlight bash %}
$ curl localhost:8500/v1/catalog/nodes
        {% endhighlight %}


        Il est également possible de voir l’état du cluster en se connectant à l’interface web :

        {% highlight bash %}
$ http://{{page.group}}-server.consul.aws.xebiatechevent.info:8500/ui/
        {% endhighlight %}

    </section>

    <section>
        <h1>Création de notre premier service</h1>

Avec consul, la création d’un service passe par la création d’un fichier json décrivant le service. Dans le répertoire /etc/consul.d de la machine contenant l’agent, créer un fichier nommé web.json avec le contenu suivant :

{% highlight javascript %}
{"service":
    {
        "name": "web",
        "tags": ["web"], "port": 8000
    }
}
{% endhighlight %}

Lancer ensuite la commande consul reload pour demander à consul de recharger la configuration.

{% highlight bash %}
$ consul reload
{% endhighlight %}

Vous pouvez voir dans l’interface qu'un nouveau service est apparu.

    </section>

    <section>
        <h1>Interroger consul</h1>
Consul met à disposition deux interfaces pour avoir accès aux informations d’un service :
        <ul>
<li>un service REST</li>
<li>un serveur DNS.</li>
        </ul>
Essayer de récupérer les informations de votre service avec les deux interfaces disponibles.

[lien vers la documentation de l'api REST](https://www.consul.io/docs/agent/http/catalog.html)

[lien vers la documentation de l'interface DNS](https://www.consul.io/docs/agent/dns.html)


<div class = 'solution'>
{% highlight bash %}
$ curl localhost:8500/v1/catalog/service/web
$ dig @127.0.0.1 -p 8600 web.service.consul
{% endhighlight %}
</div>

Remarque: Consul est aussi capable d'utiliser le protocole DNS SRV, qui permet notamment d’accéder en plus de l’adresse IP au port du serveur demandé :

<div class = 'solution'>
{% highlight bash %}
$ dig @127.0.0.1 -p 8600 web.service.consul SRV
{% endhighlight %}
</div>

    </section>

    <section>
        <h1>Gestion du health check</h1>

        <h2>Au niveau du service</h2>

        Il est possible de rajouter un health check pour déterminer si notre service et up ou non. Modifier le fichier web.json pour ajouter un health check.

        Penser à recharger la configuration.

        [lien vers la documentation du health check](https://www.consul.io/docs/agent/checks.html)

        <div class = 'solution'>
{% highlight javascript %}
{"service":
    {"name": "web",
        "tags": ["web"],
        "port": 8000,
        "check": {
            "script": "curl -f -X GET http://localhost:8000",
            "interval": "30s"
        }
    }
}
{% endhighlight %}
        </div>

        Essayer ensuite de demander au serveur DNS fourni par consul l’adresse de notre service “web”. Comme le health check lui indique que le service est KO, il ne renvoie pas l'adresse IP.
        Vous pouvez fixer en lancer un simple serveur http.

        {% highlight bash %}
$ python -m SimpleHTTPServer &
        {% endhighlight %}

        Vous pouvez de nouveaux acceder aux services. Sur l’interface web, des compléments d’informations nous sont fournis sur les résultats du health check.


        <h2>Au niveau du node</h2>

        Il est aussi possible de rajouter un health check au niveau du node. Consul va considérer que si le health check d'un node renvoie une erreur, alors le service n'est pas accessible.

        On va rajouter un check simple qui permet de visualiser la consommation mémoire de notre agent. Pour celà, on va créer dans notre répertoire bin un fichier mem.sh contenant le script suivant :

        {% highlight bash %}
$ free -m | awk 'NR==2{printf "Memory Usage: %s/%sMB (%.2f%%)\n", $3,$2,$3*100/$2 }'
        {% endhighlight %}

        Penser à rajouter les droits d'exécution sur ce fichier.

        Ensuite, dans notre répertoire de travail consul, créer un fichier nommé memcheck.json permettant à consul de nous afficher sur l’ui la mémoire utilisé sur votre machine.

        <div class = 'solution'>
{% highlight javascript %}
{"check":
    {"name": "memory check",
        "script": "$HOME/bin/mem.sh",
        "interval": "30s"
    }
}
{% endhighlight %}
        </div>

        Remarque : le code de retour du script va indiquer si le service est up ou non

        Vous pouvez vous amusez à faire de même pour vérifier l’utilisation disque de la machine et le load average avec les scripts suivants :

{% highlight bash %}
$ df -h | awk '$NF=="/"{printf "Disk Usage: %d/%dGB (%s)\n", $3,$2,$5}'
$ cat /proc/loadavg | awk '{printf "CPU Load Average: 1m: %.2f, 5m: %.2f, 15m: %.2f\n", $1,$2,$3}'
{% endhighlight %}

    </section>

<section>
    <h1>Base de donnée clef valeur</h1>

    Consul possède également une base de donnée clef valeur lui permettant de stocker des informations qui pourront par la suite être accessible par exemple par les applications via l’API http.

    A l’aide de l’API http, renseigner les trois clefs suivantes avec leurs valeurs associés :

    {% highlight text %}
service/haproxy/maxconn : 256
service/haproxy/timeouts/connect : 5000ms
service/haproxy/timeouts/client : 50000ms
service/haproxy/timeouts/server : 50000ms
service/haproxy/mode : http
    {% endhighlight %}

    <a href="https://www.consul.io/intro/getting-started/kv.html">lien vers la documentation de la base de donnée</a>

    <div class = 'solution'>
{% highlight bash %}
$ curl -X PUT -d '256' http://localhost:8500/v1/kv/service/haproxy/maxconn
$ curl -X PUT -d '5000ms' http://localhost:8500/v1/kv/service/haproxy/timeouts
$ curl -X PUT -d 'http' http://localhost:8500/v1/kv/service/haproxy/mode
{% endhighlight %}
    </div>

</section>

</div>
<!--[if !IE]><script>fixScale(document);</script><![endif]-->

</body>


</html>